frozendict
fsspec
orderedset
numpy
pandas
parse
pyyaml

# build and test
flake8
pytest
setuptools

# for example notebooks
sklearn
keras

torch
torchvision

# IDE
seaborn
dash
jupyter
jupyterlab
matplotlib
jupyter-dash
ipywidgets
jupyterlab-git
# jupyter labextension install jupyterlab-plotly
# jupyter lab build
