# requirements file used by mybinder.org to execute the examples
dash
flake8
frozendict
fsspec
ipykernel
keras
matplotlib
numpy
pandas
parse
pytest
pyyaml
requests
seaborn
setuptools
scikit-learn
tensorflow 
torch
torchvision
coverage
