# requirements file used by mybinder.org to execute the examples
dash
flake8
frozendict
fsspec
ipykernel
keras
matplotlib
numpy
orderedset
pandas
parse
pytest
pyyaml
requests
seaborn
setuptools
sklearn
tensorflow 
torch
torchvision
coverage
