frozendict
fsspec
orderedset
numpy
pandas
parse
pyyaml

# build and test
flake8
pytest
setuptools

# unit test testing github protocol
requests

sklearn
keras
tensorflow 
torch
torchvision

matplotlib
seaborn
dash
ipykernel
